.student {
	width: 100%;
	min-height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #d3d3d3;
}

.student > img {
	width: 120px;
	height: 120px;
	margin-left: 24px;
	border: 1px solid grey;
	border-radius: 100%;
}


.visability-bttn {
	font-size: 40px;
	color: #acacac;
}

.student-about {
	width: 75%;
	height: 100%;
}

.student-name {
	font-size: 52px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.student-control {
	display: flex;
	justify-content: space-between;
}

.student-control > button {
	background: none;
	border: none;
}

.student-info {
	color: #acacac;
}

.student-info > ul > li {
	list-style-type: none;
}