.student {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #d3d3d3;
}

.student > img {
	width: 120px;
	height: 120px;
	margin-left: 24px;
	margin-top: 40px;
	border: 1px solid grey;
	border-radius: 100%;
}


.student-about {
	width: 75%;
	height: 100%;
	margin-bottom: 40px;
}

.student-name {
	font-size: 52px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.student-control {
	display: flex;
	justify-content: space-between;
}

.student-control > button {
	background: none;
	border: none;
	cursor: pointer;
}

.visability-bttn {
	font-size: 40px;
	color: #acacac;
}

.visability-bttn:hover {
	color: #000000;
}

.student-info,
.tests {
	line-height: 28px;
	color: #555555;
	font-size: 24px;
}

.student-info > ul > li,
.tests > ul > li {
	list-style-type: none;
}

.tests {
	margin-top: 20px;
}

